In [6]:
import pandas as pd

In [7]:
dic = {'A':[1,2,3], 'B':['x','y','z'], 'C':["python","typescript","NextJs"]}

df = pd.DataFrame(dic)

df

   A  B           C
0  1  x      python
1  2  y  typescript
2  3  z      NextJs

In [14]:
df.to_csv('file1.csv',index=0)

In [16]:
df.to_csv('file1.csv',index=False,header=['col1','col2','col3'])