In [101]:
import pandas as pd
import numpy as np

In [9]:
dic = {'A':[1,2,3], 'B':['x','y','z'], 'C':["python","typescript","NextJs"]}

df = pd.DataFrame(dic,index=['a','b','c'])

df

   A  B           C
a  1  x      python
b  2  y  typescript
c  3  z      NextJs

In [49]:
# df.to_csv('file1.csv')
# df.to_csv('file1.csv',index=0)
df.to_csv('file1.csv',index=True,header=['col1','col2','col3'])
# df.to_csv('file1.csv',index=False)
# df.to_csv('file1.csv',index=False,header=None)

In [47]:
# fileone = pd.read_csv('file1.csv', header = None)
fileone = pd.read_csv('file1.csv')
fileone

  Unnamed: 0  col1 col2        col3
0          a     1    x      python
1          b     2    y  typescript
2          c     3    z      NextJs

In [50]:
fileone = pd.read_csv('file1.csv',nrows=2)
fileone

  Unnamed: 0  col1 col2        col3
0          a     1    x      python
1          b     2    y  typescript

In [ ]:
fileone = pd.read_csv('file1.csv',usecols=['col3'])
fileone

         col3
0      python
1  typescript

In [59]:
fileone = pd.read_csv('file1.csv',usecols=['col3'],nrows=2)
fileone

         col3
0      python
1  typescript

In [63]:
fileone = pd.read_csv('file1.csv',skiprows=[1])
fileone

  Unnamed: 0  col1 col2        col3
0          b     2    y  typescript
1          c     3    z      NextJs

In [70]:
fileone = pd.read_csv('file1.csv',index_col=[0])
fileone

   col1 col2        col3
a     1    x      python
b     2    y  typescript
c     3    z      NextJs

In [75]:
fileone = pd.read_csv('file1.csv',header=1)
fileone

   a  1  x      python
0  b  2  y  typescript
1  c  3  z      NextJs

In [83]:
fileone = pd.read_csv('file1.csv',names=['column1','column2','column3'])
fileone

    column1 column2     column3
NaN    col1    col2        col3
a         1       x      python
b         2       y  typescript
c         3       z      NextJs

In [ ]:
fileone = pd.read_csv('file1.csv',header=None,prefix='ck')
fileone

TypeError: read_csv() got an unexpected keyword argument 'prefix'

In [86]:
fileone = pd.read_csv('file1.csv')
fileone.index

RangeIndex(start=0, stop=3, step=1)

In [87]:
fileone = pd.read_csv('file1.csv')
fileone.columns

Index(['Unnamed: 0', 'col1', 'col2', 'col3'], dtype='object')

In [88]:
fileone = pd.read_csv('file1.csv')
fileone.describe()

       col1
count   3.0
mean    2.0
std     1.0
min     1.0
25%     1.5
50%     2.0
75%     2.5
max     3.0

In [94]:
fileone = pd.read_csv('file1.csv')
# fileone.head() # 5 lines
fileone.head(2)

  Unnamed: 0  col1 col2        col3
0          a     1    x      python
1          b     2    y  typescript

In [93]:
fileone = pd.read_csv('file1.csv')
fileone.tail()
fileone.tail(2)

  Unnamed: 0  col1 col2        col3
1          b     2    y  typescript
2          c     3    z      NextJs

In [96]:
fileone = pd.read_csv('file1.csv')
fileone[1:2] # for rows

  Unnamed: 0  col1 col2        col3
1          b     2    y  typescript

In [97]:
type(fileone)

pandas.core.frame.DataFrame

In [98]:
fileone.index.array

<NumpyExtensionArray>
[0, 1, 2]
Length: 3, dtype: int64

In [102]:
fileone.to_numpy()

array([['a', 1, 'x', 'python'],
       ['b', 2, 'y', 'typescript'],
       ['c', 3, 'z', 'NextJs']], dtype=object)

In [103]:
v = np.array(fileone)
v

array([['a', 1, 'x', 'python'],
       ['b', 2, 'y', 'typescript'],
       ['c', 3, 'z', 'NextJs']], dtype=object)

In [104]:
v = np.asarray(fileone)
v

array([['a', 1, 'x', 'python'],
       ['b', 2, 'y', 'typescript'],
       ['c', 3, 'z', 'NextJs']], dtype=object)

In [143]:
# fileone.sort_index(axis=0)
# fileone.sort_index(axis=1)
# fileone.sort_index(axis=1,ascending=False)
fileone.sort_index(axis=1,ascending=True)
# fileone.sort_index(axis=0,ascending=False)
fileone.sort_index(axis=0,ascending=True)

  Unnamed: 0  col1 col2        col3
0          a     1    x      python
1          b     2    y  typescript
2          c     3    z      NextJs

In [144]:
fileone['col1'][1] = 'new value'
fileone

C:\Users\theum\AppData\Local\Temp\ipykernel_4244\3710699717.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  fileone['col1'][1] = 'new value'
C:\Users\theum\AppData\Local\Temp\ipykernel_4244\3710699717.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fileone['col1'][1] = 'new value'
C:\Users\theum\AppData\Local\Temp\ipykernel_4244\3710699717.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'new value' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  fileone['col1'][1] = 'new value'

  Unnamed: 0       col1 col2        col3
0          a          1    x      python
1          b  new value    y  typescript
2          c          3    z      NextJs

In [150]:
fileone.loc[0,'col1'] = 'lion is roaring'
fileone

  Unnamed: 0             col1 col2        col3
0          a  lion is roaring    x      python
1          b        new value    y  typescript
2          c                3    z      NextJs

In [152]:
fileone.loc[[0,2],['col2','col3']]

  col2    col3
0    x  python
2    z  NextJs

In [172]:
fileone.loc[1:2,['col2','col3']]

  col2        col3
1    y  typescript
2    z      NextJs

In [174]:
fileone.iloc[1,2]

'y'

In [178]:
fileone.drop(1,axis=0) # axis 0 = row and axis 1 = column
# fileone.drop('col3',axis=1) # axis 0 = row and axis 1 = column

  Unnamed: 0             col1 col2    col3
0          a  lion is roaring    x  python
2          c                3    z  NextJs