In [1]:
import pandas as pd

In [2]:
x = [1,2,3,4,5,6,7,8,9,0]
series = pd.Series(x)
series

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
9    0
dtype: int64

In [5]:
x = [1,2,3,4,5,6,7,8,9,0]
series = pd.Series(x,index=['a','b','c','d','e','f','g','h','i','j'])
series

a    1
b    2
c    3
d    4
e    5
f    6
g    7
h    8
i    9
j    0
dtype: int64

In [6]:
dic = {'name' : 'Umair' , 'course' : ['GenAi','NextJs','Python'], 'quater': '3rd'}
series = pd.Series(dic)
series

name                        Umair
course    [GenAi, NextJs, Python]
quater                        3rd
dtype: object

In [8]:
pd.Series(12)

0    12
dtype: int64

In [9]:
pd.Series(44,index=[1,2,3,4,54])

1     44
2     44
3     44
4     44
54    44
dtype: int64

In [17]:
s1 = pd.Series([1,2,3,4,5,6])
s2 = pd.Series([1,2,3])

(s1+s2)

0    2.0
1    4.0
2    6.0
3    NaN
4    NaN
5    NaN
dtype: float64

In [19]:
s1 = pd.Series([1,2,3,4,5,6],index=[1,2,3,4,5,6])
s2 = pd.Series([1,2,3],index=[1,2,3])

(s1+s2)

1    2.0
2    4.0
3    6.0
4    NaN
5    NaN
6    NaN
dtype: float64

In [10]:
s1 = [1,2,3,4,5,6]
s2 = [1,2,3]

pd.Series(s1+s2)

0    1
1    2
2    3
3    4
4    5
5    6
6    1
7    2
8    3
dtype: int64